.Side > .blank{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Side > .blank > .row {
    width: 20px;
    height: 20px;
    border: 1px solid red;
    display: flex;
}